@keyframes popUp
{
    0%
    {
        -webkit-transform: scale(0, 0);
           -moz-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
             -o-transform: scale(0, 0);
                transform: scale(0, 0);
    }

    50%
    {
        -webkit-transform: scale(1, 1);
           -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
             -o-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}

.lets-move
{
    &.pop-up
    {
        -webkit-animation: popUp 1s;
                animation: popUp 1s;
    }

    @for $i from 1 through 10
    {
        &.pop-up-#{$i}s
        {
            -webkit-animation: popUp #{$i}s;
                    animation: popUp #{$i}s;
        }
    }
}
