.action-box {
  width: 100%;
  min-height: 100%;

  @include flexbox;
  @include flex('flex-direction', 'column');
  @include flex('justify-content', 'center');
  @include flex('align-items', 'center');

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;

  background: #222 url('/assets/images/background.jpg') fixed center;
  background-size: cover;

  article {
    color: #fff;
    font-size: 150%;
    font-style: italic;

    text-align: center;
  }
}
