.response-page {
  width: 100%;
  min-height: 100%;

  @include flexbox;
  @include flex('flex-direction', 'column');
  @include flex('justify-content', 'center');

  // This container returns the requested object's material family
  // with an illustrative bin where ricycle it.
  #response {
    width: 100%;

    figure {
      width: 128px;
      height: 200px;
      margin: 0 auto; 

      img { max-width: 100%; }
    }

    article {
      text-align: center;

      h2, h4 {
        text-transform: uppercase;
        line-height: 0;
      }

      h2 {
        font-size: 26px;
        letter-spacing: 3px;
      }

      h4 {
        font-size: 18px;
        font-weight: initial;

        margin-top: 50px;
        letter-spacing: 1px;
      }
    }
  }

  // The colors depends on the object's material
  // so we need to declare all the possible combinations.
  &.plastic {
    background-color: #c1a71e;
    color: #d7d7d7;
  }

  &.paper {
    background-color: #28527b;
    color: #d7d7d7;
  }
}